In [47]:
a=[1,3,5,7]
b=[2,4,6,8,10]                             # Q1 MCQ
ab=[1,2,3,4,5,6,7,8,10]
ab.reverse()
print(ab)

[10, 8, 7, 6, 5, 4, 3, 2, 1]

In [48]:
ab_list = [1,2,3,"ram",5.1]
ab_set = set(ab_list)                     # Q2 MCQ
print(ab_set)

{1, 2, 3, 5.1, 'ram'}

In [49]:
Y = [1,3,4,6,7,9,10,4+7j,"Hello world",[2000,3000,1000]]         # Q3 MCQ
Y[9][1]

3000

In [50]:
# Extract '09' 
G = ["2022-09-03"]                                  # Q4 MCQ
G[0].split()
G[0].split("-")[1]

'09'

In [51]:
square_dictionary={1:1,2:4,3:9}
                                          # Q5 MCQ
square_dictionary[4]=16
print(square_dictionary)

{1: 1, 2: 4, 3: 9, 4: 16}

In [53]:
str1 = "hello, please meet me at 4pm @coffeehouseccd or email me python@gmail.com"
lst_cnt = str1.count("me")
print(lst_cnt)                                  # Q6 MCQ
str1.remove('python@gmail')
print(str1)

3

In [1]:
# Python code to demonstrate
# Multiplying two lists
# list comprehension

# initializing lists
num_list_1 = [1, 2, 3, 4]
num_list_2 = [0, 5, 2, 1]                  # Q7 MCQ

# printing original lists
print ("Original list 1 : " + str(num_list_1))
print ("Original list 2 : " + str(num_list_2))

# using list comprehension to
# Multiplying two lists
res_list = [num_list_1[i] * num_list_2[i] for i in range(len(num_list_1))]

# printing resultant list
print ("Resultant list is : " + str(res_list))

Original list 1 : [1, 2, 3, 4]
Original list 2 : [0, 5, 2, 1]
Resultant list is : [0, 10, 6, 4]

In [54]:
mix_list_1 = ['learn', 24, 'Blue', False, -8]
mix_list_2 = [4, 7, 'Summer']
print(len(mix_list_1))
list_joined = mix_list_1 + mix_list_2                        # @8 MCQ
print(list_joined)                                           # checking the lenght , concatenate two lists, repeaning
mix_list_2 = [4, 7, 'Summer']
n=3
arr=mix_list_2*n #number of times you want to repeat
print(arr)

5
['learn', 24, 'Blue', False, -8, 4, 7, 'Summer']
[4, 7, 'Summer', 4, 7, 'Summer', 4, 7, 'Summer']

In [55]:
dataset = ("Country","India")
print(len(dataset))
for id in dataset:                  # Q 09 MCQ
    splitid = id[:2]

2

In [56]:
A = {1,4,5,2,6,3,40,7,87,4,71};
B = {3,42,51,6,7,8,54,5};
print(A|B)                                   # Q 10 MCQ                 
print(A&B)
print(A^B)

{1, 2, 3, 4, 5, 6, 7, 40, 71, 8, 42, 51, 54, 87}
{3, 5, 6, 7}
{1, 2, 4, 71, 8, 40, 42, 51, 54, 87}

In [10]:
num_set = {1, 2, 3, 4, 5, 6}
print(num_set)
num_set.add(7)
print(num_set)                           # Q11 MCQ
num_set.remove(3)
print(num_set)
num_set.clear()
print(num_set)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 4, 5, 6, 7}
set()

In [57]:
mix_tuple = (['a',1,True],2,'Science',-5)
y = list(mix_tuple)
y[1]="3"                                              # Q12 MCQ
mix_tuple=tuple(y)                                    # replacing the elements
print(mix_tuple)

(['a', 1, True], '3', 'Science', -5)

In [58]:
num_tuple = (4,4,8)
mix_tuple = 'john',5,-2
print(len(num_tuple))                                       # Q13 MCQ
tuple_joined = num_tuple + mix_tuple
print(tuple_joined)
mix_tuple = 'john',5,-2
n=2
arr=mix_tuple*n
print(arr)

3
(4, 4, 8, 'john', 5, -2)
('john', 5, -2, 'john', 5, -2)

In [59]:
num_list = [4,5,7,-2,0,1]
print(min(num_list))
print(max(num_list))
num_list = [4,5,7,-2,0,1]
num_list.sort()
print(num_list)                                                    # Q14 MCQ
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)
num_list.remove(5)
print(num_list)

-2
7
[-2, 0, 1, 4, 5, 7]
['apple', 'banana', 'cherry']
[-2, 0, 1, 4, 7]

In [60]:
mix_list = ['python',1,2,3,'Data',True]
splitid=mix_list[0]
print(splitid)
splitid=mix_list[-2]                     # Q15 MCQ
print(splitid)
splitid=mix_list[0:3]
print(splitid)
mix_list = ['python',1,2,3,'Data',True]
print(mix_list[::2])

python
Data
['python', 1, 2]
['python', 2, 'Data']

In [11]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [1]:
mix_tuple = (['a',1,True],2,'Science',-5)
y = list(mix_tuple)
y[1]="3"                                              # Q12 MCQ
mix_tuple=tuple(y)                                    # replacing the elements
print(mix_tuple)

(['a', 1, True], '3', 'Science', -5)

In [27]:
import union as un
import intersection as int

In [1]:
A = {1,4,5,2,6,3,40,7,87,4,71};
B = {3,42,51,6,7,8,54,5};
print(A|B)                                
print(A&B)
print(A^B)

{1, 2, 3, 4, 5, 6, 7, 40, 71, 8, 42, 51, 54, 87}
{3, 5, 6, 7}
{1, 2, 4, 71, 8, 40, 42, 51, 54, 87}

In [35]:
dataset = ("Country","India")
print(len(dataset))
for id in dataset:                  # Q 09 MCQ
    splitid = id[:2]

2

In [ ]:
dataset = [id1, id2, id3 ... ]
for id in dataset:
   splitid = id[:2]

In [43]:
mix_list_1 = ['learn', 24, 'Blue', False, -8]
mix_list_2 = [4, 7, 'Summer']
print(len(mix_list_1))
list_joined = mix_list_1 + mix_list_2                        # @8 MCQ
print(list_joined)                                           # checking the lenght , concatenate two lists, repeaning
mix_list_2 = [4, 7, 'Summer']
n=3
arr=mix_list_2*n #number of times you want to repeat
print(arr)

5
['learn', 24, 'Blue', False, -8, 4, 7, 'Summer']
[4, 7, 'Summer', 4, 7, 'Summer', 4, 7, 'Summer']

In [46]:
num_tuple = (4,4,8)
mix_tuple = 'john',5,-2
print(len(num_tuple))                                       # Q13 MCQ
tuple_joined = num_tuple + mix_tuple
print(tuple_joined)
mix_tuple = 'john',5,-2
n=2
arr=mix_tuple*n
print(arr)

3
(4, 4, 8, 'john', 5, -2)
('john', 5, -2, 'john', 5, -2)

In [34]:
mix_list = ['python',1,2,3,'Data',True]
splitid=mix_list[0]
print(splitid)
splitid=mix_list[-2]                     # Q15 MCQ
print(splitid)
splitid=mix_list[0:3]
print(splitid)
mix_list = ['python',1,2,3,'Data',True]
print(mix_list[::2])

python
Data
['python', 1, 2]
['python', 2, 'Data']

In [15]:
str1 = "hello, please meet me at 4pm @coffeehouseccd or email me python@gmail.com"
lst_cnt = str1.count("me")
print(lst_cnt)                                  # Q6 MCQ
str1.remove('python@gmail')
print(str1)

3

In [3]:
# Extract '09' 
G = ["2022-09-03"]                                  # Q4 MCQ
G[0].split()
G[0].split("-")[1]

'09'

In [5]:
Y = [1,3,4,6,7,9,10,4+7j,"Hello world",[2000,3000,1000]]         # Q3 MCQ
Y[9][1]

3000

In [46]:
num_list = [4,5,7,-2,0,1]
print(min(num_list))
print(max(num_list))
num_list = [4,5,7,-2,0,1]
num_list.sort()
print(num_list)                                                    # Q14 MCQ
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)
num_list.remove(5)
print(num_list)

-2
7
[-2, 0, 1, 4, 5, 7]
['apple', 'banana', 'cherry']
[-2, 0, 1, 4, 7]