In [1]:
#Q1.Select all the columns from the table Customers where the country is Germany and City is Berlin.


#To select all columns from the table Customers where the country is Germany and City is Berlin, you
##  would use the following SQL query:

SELECT * FROM Customers
WHERE Country = 'Germany' AND City = 'Berlin'

#This query will select all columns (*) from the table Customers where the value in the Country
##column is 'Germany' and the value in the City column is 'Berlin'.

In [2]:
#Q2.Write a query to find out the city where the city is Paris and London from the Customers table

#To select the City column from the table Customers where the City is either 'Paris' or 'London',
##you would use the following SQL query:


SELECT City FROM Customers
WHERE City IN ('Paris', 'London')

#This query will select the City column from the Customers table where the City is either 'Paris' or 
##'London'.

In [3]:
#Q3.Write a query to find out the city where the city is Paris and London from the Customers table
SELECT City FROM Customers
WHERE City IN ('Paris', 'London')

In [4]:
#Q4.Write a query to find out the prices between 50 and 100 from the products table

#To select the Price column from the products table where the price is between 50 and 100, you would
##  use the following SQL query:

SELECT Price FROM products
WHERE Price BETWEEN 50 AND 100

#This query will select the Price column from the products table where the Price is greater than or
## equal to 50 and less than or equal to 100.

In [5]:
#Q5.Write a query to find out the price of items that are not equal to 30 from the products table.

#To select the Price column from the products table where the price is not equal to 30, you would use
##the following SQL query:

SELECT Price FROM products
WHERE Price != 30

          or

SELECT Price FROM products
WHERE Price <> 30

#This query will select the Price column from the products table where the Price is not equal to 30.

In [6]:
#Q6.Write a statement to find out the price of a product greater than 50

#To select the Price column from the products table where the price is greater than 50, you would use
##the following SQL query:

SELECT Price FROM products
WHERE Price > 50

#This query will select the Price column from the products table where the Price is greater than 50.

In [7]:
#Q7.Write a query to find out the price of items greater than 30 and equal to 30 from the products
#  table.

#To select the Price column from the products table where the price is greater than 30 and equal to 
## 30,you would use the following SQL query:

SELECT Price FROM products
WHERE Price >= 30

#This query will select the Price column from the products table where the Price is greater than or
## equal to 30.

In [8]:
#Q8.Write a statement and get a price from the product table where the price is greater than 30

#To select the Price column from the products table where the price is greater than 30, you would use 
## the following SQL query:

SELECT Price FROM products
WHERE Price > 30

#This query will select the Price column from the products table where the Price is greater than 30.

In [9]:
#Q9.Write a statement to find the fruit which is red on the basket table

#To select the Fruit column from the basket table where the color is red, you would use the following
## SQL query:

SELECT Fruit FROM basket
WHERE color = 'red'

#This query will select the Fruit column from the basket table where the color is 'red'

# Please note that the table name and column names may differ based on the actual database structure
## and naming conventions used. Also, the column name 'color' should exist in the basket table for the 
### above query to work.

In [ ]:
#Q10.Write a SQL statement to select all the customers from the country "USA", in the "Clients" table:

#To select all columns from the Clients table where the country is USA, you would use the following
## SQL query:

SELECT * FROM Clients
WHERE Country = 'USA'

#This query will select all columns (*) from the Clients table where the value in the Country column
## is 'USA'.