In [1]:
#Q1.Write a Pandas program to create and display a one-dimensional array-like object containing an 
#  array of [1,2,3,4,5,6] of data.
import pandas as pd

data = [1,2,3,4,5,6]

# Create a Pandas Series from the data
s = pd.Series(data)

# Display the Series
print(s)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [2]:
#Q2.Write a Pandas program to convert a Panda module Series of [9,8,7,6,5,4,3,2,1] to Python list
#   and it’s type.
import pandas as pd

data = [9,8,7,6,5,4,3,2,1]

# Create a Pandas Series from the data
s = pd.Series(data)

# Convert the Series to a list
lst = s.tolist()

# Print the list and its type
print(lst)
print(type(lst))

[9, 8, 7, 6, 5, 4, 3, 2, 1]
<class 'list'>

In [5]:
#Q3.Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
#  Sample Series: [1,2,3,4,5,6], [6,5,4,3,2,1]
import pandas as pd

data1 = [1,2,3,4,5,6]
data2 = [6,5,4,3,2,1]

# Create two Pandas Series from the data
s1 = pd.Series(data1)
s2 = pd.Series(data2)

# Perform the calculations and store the results in new variables
addition = s1 + s2
subtraction = s1 - s2
multiplication = s1 * s2
division = s1 / s2

# Print the results
print("Addition:")
print(addition)
print("\nSubtraction:")
print(subtraction)
print("\nMultiplication:")
print(multiplication)
print("\nDivision:")
print(division)

Addition:
0    7
1    7
2    7
3    7
4    7
5    7
dtype: int64

Subtraction:
0   -5
1   -3
2   -1
3    1
4    3
5    5
dtype: int64

Multiplication:
0     6
1    10
2    12
3    12
4    10
5     6
dtype: int64

Division:
0    0.166667
1    0.400000
2    0.750000
3    1.333333
4    2.500000
5    6.000000
dtype: float64

In [7]:
#Q4.Write a Pandas program to compare the elements of the two Pandas Series.
#  Sample Series: [9,8,7,6,5,4,3,2,1]
# [1,2, 3,4, 5,6, 7,8,9]
import pandas as pd

data1 = [9,8,7,6,5,4,3,2,1]
data2 = [1,2,3,4,5,6,7,8,9]

# Create two Pandas Series from the data
s1 = pd.Series(data1)
s2 = pd.Series(data2)

# Compare the elements of the two Series
result = s1 == s2

# Print the result
print(result)

0    False
1    False
2    False
3    False
4     True
5    False
6    False
7    False
8    False
dtype: bool

In [8]:
#Q5.Write a Pandas program to convert a dictionary to a Pandas series.
#  Sample dictionary: d1 = {'a’': 10, 'b': 20, 'c':30, 'd':40, 'e':50}
import pandas as pd

# Create a sample dictionary
d1 = {'a': 10, 'b': 20, 'c':30, 'd':40, 'e':50}

# Convert the dictionary to a Pandas Series
s1 = pd.Series(d1)

# Print the result
print(s1)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [9]:
#Q6.Write a Pandas program to convert a NumPy array to a Pandas series.
#  Sample NumPy array: d1 = [1, 2, 3, 4, 5,6,7,8,9,10]
import pandas as pd
import numpy as np

# Create a sample NumPy array
d1 = np.array([1, 2, 3, 4, 5,6,7,8,9,10])

# Convert the NumPy array to a Pandas Series
s1 = pd.Series(d1)

# Print the result
print(s1)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int32

In [10]:
#Q7.Write a Pandas program to change the data types.
# Sample Series:
#  Actual Data Series: [ Ajay, 10, python, 15.03, 25]    dtype: object
#  Modified Data Series : [Nan, 10.00, Nan, 15.03, 25.00]dtype: float64
import pandas as pd

# Create a sample Series
s1 = pd.Series(['Ajay', 10, 'python', 15.03, 25])

# Change the data type of the Series
s1 = s1.apply(pd.to_numeric, errors='coerce')

# Print the result
print(s1)

0      NaN
1    10.00
2      NaN
3    15.03
4    25.00
dtype: float64

In [11]:
#Q8.Pandas program to convert the second column of a DataFrame as a Series
# d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}
import pandas as pd

# Create a sample DataFrame
d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}
df = pd.DataFrame(d)

# Convert the second column of the DataFrame as a Series
s1 = df['col2']

# Print the result
print(s1)

0    4
1    5
2    6
3    9
4    5
5    0
Name: col2, dtype: int64

In [12]:
#Q9.Write a Pandas program to get the items which are not common of two given series.
# [1, 2, 3, 4, 5], [7,  6, 5, 4, 3]
import pandas as pd

# Create sample series
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([7, 6, 5, 4, 3])

# Get items which are not common to both series
result = s1[~s1.isin(s2)]

# Print the result
print(result)

0    1
1    2
dtype: int64

In [14]:
#Q10.Pandas program to find the minimum, 20th percentile, 50th percentile, 80th, and maximum of a
#  given series of [100, 20, 300, 250, 50, 360, 70, 180, 960, 100, 110, 320, 830, 640, 590, 260]
import pandas as pd

# Create a sample series
s = pd.Series([100, 20, 300, 250, 50, 360, 70, 180, 960, 100, 110, 320, 830, 640, 590, 260])

# Find the minimum
minimum = s.min()

# Find the 20th percentile
twentieth_percentile = s.quantile(0.2)

# Find the 50th percentile (median)
median = s.quantile(0.5)

# Find the 80th percentile
eighty_percentile = s.quantile(0.8)

# Find the maximum
maximum = s.max()

# Print the results
print("Minimum: ", minimum)
print("20th Percentile: ", twentieth_percentile)
print("50th Percentile (Median): ", median)
print("80th Percentile: ", eighty_percentile)
print("Maximum: ", maximum)

Minimum:  20
20th Percentile:  100.0
50th Percentile (Median):  255.0
80th Percentile:  590.0
Maximum:  960

In [15]:
#Q11.Write a Pandas program to create 6 subset of a given series of [0, 1,2,3,4,5,6,7,8,9,10]
# based on value
import pandas as pd

# Create a sample series
s = pd.Series([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

# Create 6 subsets
subset1 = s[s < 2]
subset2 = s[(s >= 2) & (s < 4)]
subset3 = s[(s >= 4) & (s < 6)]
subset4 = s[(s >= 6) & (s < 8)]
subset5 = s[(s >= 8) & (s < 10)]
subset6 = s[s >= 10]

# Print the subsets
print("Subset 1: ", subset1)
print("Subset 2: ", subset2)
print("Subset 3: ", subset3)
print("Subset 4: ", subset4)
print("Subset 5: ", subset5)
print("Subset 6: ", subset6)

Subset 1:  0    0
1    1
dtype: int64
Subset 2:  2    2
3    3
dtype: int64
Subset 3:  4    4
5    5
dtype: int64
Subset 4:  6    6
7    7
dtype: int64
Subset 5:  8    8
9    9
dtype: int64
Subset 6:  10    10
dtype: int64

In [16]:
#Q12.Write a Pandas program to add 400 to data to an existing Series
# [100, 20, 300, 250, 50, 360, 70, 180, 960, 100, 110, 320, 830, 640, 590, 260]
import pandas as pd

# Create the original series
original_series = pd.Series([100, 20, 300, 250, 50, 360, 70, 180, 960, 100, 110, 320, 830, 640, 590, 260])

# Add 400 to each value in the series
modified_series = original_series + 400

print(modified_series)

0      500
1      420
2      700
3      650
4      450
5      760
6      470
7      580
8     1360
9      500
10     510
11     720
12    1230
13    1040
14     990
15     660
dtype: int64

In [18]:
#Q13.Write a Pandas program to sort a Series 
#  [100, 20, 300, 250, 50, 360, 70, 180, 960, 100, 110, 320, 830, 640, 590, 260]
import pandas as pd

# Create the original series
original_series = pd.Series([100, 20, 300, 250, 50, 360, 70, 180, 960, 100, 110, 320, 830, 640, 590, 260])

# Sort the series
sorted_series = original_series.sort_values()

print(sorted_series)

1      20
4      50
6      70
0     100
9     100
10    110
7     180
3     250
15    260
2     300
11    320
5     360
14    590
13    640
12    830
8     960
dtype: int64

In [19]:
#Q14.Write a Pandas program to get the items of a given series not present in another given series.
import pandas as pd

# Create the first series
series1 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

# Create the second series
series2 = pd.Series([5, 6, 7, 8, 9, 10, 11, 12, 13, 14])

# Get the items of series1 not present in series2
result = series1[~series1.isin(series2)]

print(result)

0    1
1    2
2    3
3    4
dtype: int64

In [21]:
#Q15.Write a Pandas program to change the order of index of a given series.
import pandas as pd

# Create the series
series = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

# Change the order of the index
result = series.reindex(index=['j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a'])

print(result)

j    10
i     9
h     8
g     7
f     6
e     5
d     4
c     3
b     2
a     1
dtype: int64