In [5]:
# write a program to print product of two numbers 'x' and 'y'?
x = 5
y = 7 
xy = x*y
#print(x)                                 # Q1 
#print(y)
print(xy)

35

In [2]:
# Display the following pattern using single print()?
# *
# **                                                           # half pyramids
# ***
# ****
rows = int(input("Enter number of rows: "))

for i in range(rows):
    for j in range(i+1):
        print("* ", end="")
    print("\n")

Enter number of rows: 4
*

* *

* * *

* * * *

In [ ]:
import calendar

In [1]:
import calendar
year = int(input("Enter Year 'YYYY' : "))
month = int(input("Enter Month 'MM' : "))
print(calendar.month(year, month))

Enter Year 'YYYY' : 2022
Enter Month 'MM' : 10
    October 2022
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

In [3]:
# Display the sum of 5 + 10, using two variables: x and y.
x = 5
y = 10
c = x + y
print(c)

15

In [4]:
# create a variable called z, assign x + y to it, and display result.(you can take any values of x&y).
x = 10
y = 15
z = x + y
print(z)

25

In [11]:
# write a python program which accepts the users first and last name and print them in reverse order with a space between them.
def FullName(firstname, lastname):
  print(firstname +" "+ lastname)              # ?

# Calling a function
FullName("Rohit","Sharma")

Rohit Sharma

In [12]:
# write a python program which accepts the users first and last name and print them in reverse order with a space between them.

first_name = input("Enter your first name:")
last_name = input("Enter your last name:")

print(f"{last_name} {first_name}")

Enter your first name:sai
Enter your last name:ram
ram sai

In [17]:
# write a program to convert the value of 'pi' to integer.

pi = 5.7
pi = int(pi)
print(pi)
print(type(pi))

5
<class 'int'>

In [18]:
# write a program to swap the two integers passed as runtime variables.

# Python program to demonstrate
# swapping of two variables
 
x = 10                                             #swapping
y = 50
 
# Swapping of two variables
# Using third variable
temp = x
x = y
y = temp
 
print("Value of x:", x)
print("Value of y:", y)

Value of x: 50
Value of y: 10

In [19]:
# find the remainder after dividing 542 by 16?

a = 542
b = 16
c = 542 // 16
print(c)

33

In [20]:
# Assign the value 299792458 to the variable speed_of_light?

speed_of_light = 299792458
print(speed_of_light )

299792458

In [24]:
# Create a variables to hold the values 20&3
# print the result of 20/3 as a whole number and a remainder.
# eg: the ans is 6 with a remainder of 2                             # whole numbers
a = 20/3
#print("the whole number is :", a)
b = 20%3
#print("the remainder is:",b )
print("the whole number is:",a,"with a remainder of:",b)

the whole number is: 6.666666666666667 with a remainder of: 2

In [50]:
# Create a three variables to hold strings-title,first and last names.
# print "hello<title><first><last>" using four different print statements
# eg: hello mr orville wright

title = ("mr. ")
First_Name = ("sai ")
Last_Name = ("ram ")

print(title,end = "sai ")
print(Last_Name)

mr. sai ram

In [28]:
# print the result of 3 raise to the 5th power.
# eg: 3 raised to the 5 power is 243
n = 3
p = 5
print(pow(n,p))

243

In [30]:
# create a variable named var1 that contains the result of 10/3.
# print the result limiting the display of the variable to 2 decimal places.
# eg: the result is 3.33                                                #limiting
                                                                        #decimal
var1 = 10/3
print(f'This converts to {var1:.2f}')

This converts to 3.33

In [52]:
# create a variable named a that contains the no.4
# create a variable named b that contains the no.5
# create a variable named c that contains the no.a&b
# print the result
a = 4
b = 5
c = a&b
print(c)

4