In [1]:
# Q1.Use dictionary comprehension to make dictionary from following keys and values given;
# keys = ['E','K','E','E','D','A']
# values = [1,2,3,4,5,6].



# Python code to demonstrate dictionary
# comprehension
 
# Lists to represent keys and values
keys = ['E','K','E','E','D','A']
values = [1,2,3,4,5,6] 
 
# but this line shows dict comprehension here 
myDict = { k:v for (k,v) in zip(keys, values)} 
 
# We can use below too
# myDict = dict(zip(keys, values)) 
 
print (myDict)

{'E': 4, 'K': 2, 'D': 5, 'A': 6}

In [12]:
# Q2.Write a python program to add a key to a dictionary.
# Dicti = {0;'a',1:'a'}
Dicti = {0:'a',1:'a'}
new_dict = {**Dicti, **{2:'a'}}
 
print(Dicti)
print(new_dict)

{0: 'a', 1: 'a'}
{0: 'a', 1: 'a', 2: 'a'}

In [5]:
# Q3.Write a program to concatenate the given dictionaries;
#   dictt1={1:10, 2:20}
#   dictt2={3:30, 4:40}
#   dictt3={5:50, 6:60}
dictt1={1:10, 2:20}
dictt2={3:30, 4:40}
dictt3={5:50, 6:60}
dictt4 = {}
for d in (dictt1, dictt2, dictt3): dictt4.update(d)
print(dictt4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

# Convert dictionary to list of tuples:

###### Given a dictionary, write a Python program to convert the given dictionary into list of tuples. 

Examples: 

Input: { 'Geeks': 10, 'for': 12, 'Geek': 31 }
Output : [ ('Geeks', 10), ('for', 12), ('Geek', 31) ]

Input: { 'dict': 11, 'to': 22, 'list_of_tup': 33}
Output : [ ('dict', 11), ('to', 22), ('list_of_tup', 33) ]

##### Below are various methods to convert dictionary to list of tuples

## Method #1: Using list comprehension

In [9]:
# Q4.Write a python program to convert given a dictionary to a list of tuples.

# Python code to convert dictionary into list of tuples
 
# Initialization of dictionary
dict = { 'Ram': 10, 'Srujana': 12, 'Priya': 31 }
 
# Converting into list of tuple
list = [(i, j) for i, j in dict.items()]
 
# Printing list of tuple
print(list)

[('Ram', 10), ('Srujana', 12), ('Priya', 31)]

## Method #2 : Using items()

In [16]:
# Python code to convert dictionary into list of tuples
 
# Initialization of dictionary
dict = { 'Ram': 10, 'Srujana': 12, 'Priya': 31 }
 
# Converting into list of tuple                     # it is correct only but not comming output
list = list(dict.items())
 
# Printing list of tuple
print(list)

TypeError: 'list' object is not callable

## Method #3: Using zip

In [18]:
# Python code to convert dictionary into list of tuples
 
# Initialization of dictionary
dict = { 'Geeks': 10, 'for': 12, 'Geek': 31 }
 
# Using zip
listt = zip(dict.keys(), dict.values())
 
# Converting from zip object to list object
listt = list(listt)
 
# Printing list
print(listt)

TypeError: 'list' object is not callable

## Method #4 : Using iteration

In [20]:
# Python code to convert dictionary into list of tuples
 
# Initialization of dictionary
dict = { 'Ram': 10, 'Srujana': 12, 'Priya': 31 }
 
# Initialization of empty list
list = []
 
# Iteration
for i in dict:
   k = (i, dict[i])
   list.append(k)
 
# Printing list
print(list)

[('Ram', 10), ('Srujana', 12), ('Priya', 31)]

## Method #5 : Using collection

In [21]:
# Python code to convert dictionary into list of tuples
 
# Initialization of dictionary
dict = { 'Geeks': 10, 'for': 12, 'Geek': 31 }
 
# Importing
import collections
 
# Converting
list_of_tuple = collections.namedtuple('List', 'name value')
 
lists = list(list_of_tuple(*item) for item in dict.items())
 
# Printing list
print(lists)

TypeError: 'list' object is not callable

In [1]:
# Q5.Write a program to make dictionary ranging between keys 7-14(both excluded) and the values are square of the keys.
dictt = {i:i**2 for i in range(7,14)}
dictt
print(type(dictt))

<class 'dict'>

In [3]:
# Q6.Write a program to create a dictionary containing some values and add all the values from that dictionary;
my_dictionary = {'name':'Ram','age':24}
print(my_dictionary)
#add a key-value pair to the empty dictionary
my_dictionary['hobbies'] = "Playing Cricket"

#print dictionary
print(my_dictionary)

#output

#{'name': 'John Doe'}

{'name': 'Ram', 'age': 24}
{'name': 'Ram', 'age': 24, 'hobbies': 'Playing Cricket'}

In [4]:
# Q7.From the dictionary given below,sort the elements based on the keys;
#       dictt = {'dh':5,'ani':6,'zimb':8}
dictt = {'dh':5,'ani':6,'zimb':8}
dictt['ram'] = 5
dictt['priya'] = 6
dictt['srujana'] = 8
print(dictt)

{'dh': 5, 'ani': 6, 'zimb': 8, 'ram': 5, 'priya': 6, 'srujana': 8}

In [5]:
# Q8.Create a data for 2 students using dictionary and print it line by line;
students = {'Aex':{'class':'V','rolld_id':2},'Puja':{'class':'V','roll_id':3}}
for a in students:
    print(a)
    for b in students[a]:
        print (b,':',students[a][b])

Aex
class : V
rolld_id : 2
Puja
class : V
roll_id : 3

In [12]:
import pandas as pd

In [13]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [19]:
# Q9.Print a dictionary with key values in a table manner;
#   dict_num = {1:'a',2:'b',3:'c',4:'d',5:'e',6:f}
#dict_num = {1:'a',2:'b',3:'c',4:'d',5:'e',6:f}
dict_num = [[1,'a'],[2,'b'],[3,'c'],[4,'d'],[5,'e'],[6,'f']]
df = pd.DataFrame(dict_num, columns = ['num', 'alpha'])
print(df)

   num alpha
0    1     a
1    2     b
2    3     c
3    4     d
4    5     e
5    6     f

In [20]:
# Q10.Print the dictionary where we drop the empty value from the dictionary;
#     dict_num = {1:'a',2:'b',3:'c',4:'d',5:'e',6:None}
dict_num = {1:'a',2:'b',3:'c',4:'d',5:'e',6:None}
print("Original Dictionary:")
print(dict_num)
print("New Dictionary after dropping empty items:")
dict_num = {key:value for (key, value) in dict_num.items() if value is not None}
print(dict_num)

Original Dictionary:
{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e', 6: None}
New Dictionary after dropping empty items:
{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}

In [21]:
# Q11. Check if there's a particular value in a dict;
>>> d = {'1': 'one', '3': 'three', '2': 'two', '5': 'five', '4': 'four'}
>>> 'one' in d.values()

True

In [28]:
# Q12.Check the key for the minimum value in a dictionary;
#     dictt = {'Physics':82,'Math':65,'history':75}



# Python3 code to demonstrate working of
# Finding min value keys in dictionary
# Using min() + list comprehension + values()
  
# initializing dictionary
dictt= {'Physics':82,'Math':65,'history':75}
  
# printing original dictionary
print("The original dictionary is : " + str(dictt))
  
# Using min() + list comprehension + values()
# Finding min value keys in dictionary
temp = min(dictt.values())
res = [key for key in dictt if dictt[key] == temp]
  
# printing result 
print("Keys with minimum values are : " + str(res))

The original dictionary is : {'Physics': 82, 'Math': 65, 'history': 75}
Keys with minimum values are : ['Math']

In [30]:
# Q13.Write a program to add multiple keys into dictionary;
#      dictt = {'person':{"Name":"Simulen","City":"CA","Country":"USA"}}
dictt = {'person':{"Name":"Simulen","City":"CA","Country":"USA"}};
dictt.update({'ram':'super','priya':'excellent','srujana':'good'});
print(dictt);

{'person': {'Name': 'Simulen', 'City': 'CA', 'Country': 'USA'}, 'ram': 'super', 'priya': 'excellent', 'srujana': 'good'}

In [1]:
# Q14.Convert string to dictionary;
#       stringg='ekeeda'
import json
stringg = '{"ekeeda": "elearning"}'
dictionary = json.loads(stringg)
print(dictionary)

{'ekeeda': 'elearning'}

In [3]:
# Q15.Create a dictionary having values=key*key and keys ranging from 1 to n
dictt = {1:1,2:2,3:3,4:4,5:5}
n=11
#for i in range(1,n):
  #print(n, 'x',i,'=',n*i)
op={i:i**2 for i in range(11)}
print(op)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}