In [1]:
# Q1 Using union operation add to sets containing the values of days of weeks;
s1 = {'sun','mon','tue','wed','thur'}
s2 = {'wed','thur','fri','sat'}

s = s1 | s2

print(s)

{'wed', 'fri', 'tue', 'sun', 'mon', 'thur', 'sat'}

In [6]:
# Q2 Initilize a set having months as values from January to At, then add the rest of months to it:
        # InitilizeTheSet = ('January','February','March')
InitilizeTheSet = {'January','February','March'}
set2 = ('April','March','June','July','August','September','October','November','December')
InitilizeTheSet.update(set2)

print(InitilizeTheSet)

{'October', 'September', 'January', 'June', 'July', 'November', 'February', 'August', 'March', 'December', 'April'}

In [7]:
# Q3 Create a freeze set containing name of weeks and delete the last element of the set:
mylist = {'Sun', 'Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat'}
mylist.remove('Sat')
print(mylist)

{'Wed', 'Mon', 'Tue', 'Thur', 'Sun', 'Fri'}

In [29]:
# Q4 Make a set containing week days and print the values from Monday to Sunday.
my_set={'Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat','Sun'}
days = 0
#week = [‘Monday’, ‘Tuesday’, ‘Wednesday’, ‘Thursday’, ‘Friday’, ‘Saturday’, 3.‘Sunday’]
while days < 7:
    print("Today is" + my_set[days])
    days += 1

TypeError: 'set' object is not subscriptable

In [18]:
weekday = int(input("Enter weekday number (1-7) : "))

if weekday == 1 :
    print("\nMonday");

elif weekday == 2 :
    print("\nTuesday")

elif(weekday == 3) :
    print("\nWednesday")

elif(weekday == 4) :
    print("\nThursday")

elif(weekday == 5) :
    print("\nFriday")

elif(weekday == 6) :
    print("\nSaturday")

elif (weekday == 7) :
    print("\nSunday")

else :
    print("\nPlease enter any weekday number (1-7)")

Enter weekday number (1-7) : 1

Monday

In [15]:
# Q5 Find if the value x is in the given tuple:
    # value=('EkeedalsTheBest') 
#x = ("EkeedalsTheBest")
#print(tup)
x = ("EkeedalsTheBest");n=""
t=[i for i in x if i==n]
print(["yes" if t else "no"])                                                                              # it is the element to get output 4 times or more or less how many times we need.

['no']

In [16]:
x = ("EkeedalsTheBest")
 
# printing original tuple
print("The original tuple : " + str(x))
 
# initialize N
N = "EkeedalsTheBest"
 
# Check if element is present in tuple
# Using in operator
res = N in x
 
# printing result
print("Does tuple contain required value ? : " + str(res))

The original tuple : EkeedalsTheBest
Does tuple contain required value ? : True

In [3]:
# Q6 print the tuple value 5 times.
# Value=("ekeeda")
#tup=("ekeeda")
#print(tup*5)
n = 0
                                                                              # it is the element to get output 4 times or more or less how many times we need.
while (n<5): # n = 3 + 1 = 4 now at 4 it will not enter the loop
    n = n + 1
    # n = 0 + 1 = 1                                           
    # n = 1 + 1 = 2
    # n = 2 + 1 = 3
    print("ekeeda")

ekeeda
ekeeda
ekeeda
ekeeda
ekeeda

In [11]:
# Q7 Return a set of elements that are not present in both sets A and B:
A= {30,40,50,60,70}
B = {10,20,30,40,50}
C = B.difference(A)
print(C)
C = A.difference(B)
print(C)
#print("Original sets:")
#print(A)
#print(B)
#print("Difference of A and B using difference():")
#print(A.difference(B))
#print("Difference of B and A using difference():")
#print(B.difference(A))

{10, 20}
{60, 70}

In [2]:
# Q8 Add of list of elements to the set;
# sett={"a","b","c"}
# li=["x","y","z"]
#Program :
    
#Represents a set
sett = {"a","b","c"}
#Represents a list
li = ["x","y","z"]
# adding all elements in list to the set
sett.update(li)
#print('After adding list to set : ')
print(sett)

{'y', 'b', 'c', 'x', 'a', 'z'}

In [4]:
# Q9 Write a python program to find the total number of items an item appeared in the tuple.
# item=2,4,5,6,2,3,4,4,7
# tuple of vowels
item = (2,4,5,6,2,3,4,4,7)

# counts the number of i's in the tuple
count = item.count(4)

print(count)

3

In [5]:
# Q10 Tuple Operations;
# Var=('p','r','o','g','r','a','m','i','n','i','s','f','u','n')
# print values between 5-8; 6-11; 5-9
Var=('p','r','o','g','r','a','m','i','n','i','s','f','u','n')
splitid=Var[5:8]
print(splitid)
splitid=Var[6:11]
print(splitid)
splitid=Var[5:9]
print(splitid)

('a', 'm', 'i')
('m', 'i', 'n', 'i', 's')
('a', 'm', 'i', 'n')

In [5]:
# Q11 Remove the elements from the set in single operation
# set1={10,20,30,40,50}
set1 = {10,20,30,40,50}
 
#Remove single element from a Set using remove()
set1.remove(10)
 
#Print result
print(set1)

{50, 20, 40, 30}

In [17]:
# Q12 Evaluate if the values in the tuple are same.
# Tup=(11,11,11,11,11)
Tup = (11,11,11,11,11)

def samevalues(Tup):
  return any(Tup.count(elem)>1 for elem in list(Tup))
print(samevalues(Tup))
#print(11 in Tup)

True

In [6]:
# Q13 Sort a Tuple of tuple of tuples based on the second item in it:
    #tup=((X,20),(Y,10),('Y',45),('Z',33))
tup=(('X',20),('Y',10),('Y',45),('Z',33))
list(tup)
sop=tuple(sorted(list(tup), key=lambda x:x[1]))
sop

(('Y', 10), ('X', 20), ('Z', 33), ('Y', 45))

In [7]:
# Q14 Write a python program to see if the given sets have no common elements?
# x = {1,2,3,4}
# Y = {4,5,6,7}
# Z = {8,9,10}
X = {1,2,3,4}
Y = {4,5,6,7}
Z = {8,9,10}
print("Original set elements:")
print(X)
print(Y)
print(Z)
print("\nConfirm two given sets have no element(s) in common:")
print("\nCompare X and Y:")
print(X.isdisjoint(Y))
print("\nCompare X and Z:")
print(Z.isdisjoint(X))
print("\nCompare Y and Z:")
print(Y.isdisjoint(Z))

Original set elements:
{1, 2, 3, 4}
{4, 5, 6, 7}
{8, 9, 10}

Confirm two given sets have no element(s) in common:

Compare X and Y:
False

Compare X and Z:
True

Compare Y and Z:
True

In [2]:
# Q15 Write a Python Program to compute the sum of nested tuples:
#  nums = [(1,2,22),(2,44,-44),(2,4),(2,2,2,2.2)]
nums = [(1,2,22),(2,44,-44),(2,4),(2,2,2,2.2)]
def x(lst):
    result = map(sum,lst)
    return list(result)
x(nums)

[25, 2, 6, 8.2]